# Java

*.class
*.jar
*.war
*.ear

# Diretórios de compilação

out/
bin/
target/
build/

# IntelliJ IDEA

.idea/
*.iml

# VS Code

.vscode/

# Eclipse

.project
.classpath
.settings/

# NetBeans

nbproject/
nbbuild/
dist/

# Logs

*.log

# Arquivos temporários

*.tmp
*.temp

# Sistema Operacional

.DS_Store
Thumbs.db
